{% extends 'core/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <section class="page-section about-heading custom-section">
            <div class="container">
                <div class="about-heading-content">
                    <div class="row">
                        <div class="col-xl-9 col-lg-10 mx-auto">
                            <div class="bg-faded rounded p-5">
                                <h2 class="section-heading mb-4">
                                    <span class="section-heading-lower text-center">COMENTARIOS</span>
                                    <span class="section-heading-upper text-center">SOBRE NUESTRO BLOG</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <ul>
            {% for c in comentario %}
                <section class="page-section cta ">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-9 mx-auto">
                                <div class="cta-inner bg-faded text-center rounded">
                                    <h2 class="section-heading mb-5">
                                        <span class="section-heading-lower">{{ c.username }}</span>
                                        <span class="section-heading-upper"><strong>Calificación:</strong> {{ c.rating }}</span>
                                    </h2>
                                    <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                                        <li class="list-unstyled-item list-hours-item d-flex">
                                            </strong> {{ c.text }}
                                        </li>                                    
                                    </ul>
                                    <p class="address mb-5">
                                        <em>
                                            <strong>Fecha de Ingreso: {{ c.created_at }}</strong>
                                        </em>
                                    </p>
                                    <p class="mb-0">
                                        <strong>Fecha de Actualización:</strong> {{ c.updated_at }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
        
